
/* html {
  background-color: hsl(212, 45%, 89%);
} */
.flex-container{
  display:flex;
  background-color: hsl(212, 45%, 89%);
}

.flex-container img {
  /* height: 300px;*/
  max-width: 100%; 
  display:flex;
  padding: 20px;
  border-radius: 3rem;
}

body {
  background-color: hsl(212, 45%, 89%);
  background-color: hsl(0, 0%, 100%);
  position: relative;
  /* top: 100px;
   left: 550px; */
  min-height: 100vh;
  max-width: 20rem;
  flex-direction: column;
  align-items:center;
  border-radius: 3rem;
  font-family: "Outfit";
}
.text-container h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.text-container p {
  font-size: 1rem;
  color: grey;
  font-weight: 400;
}
