@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

html {
  background-color: hsl(212, 45%, 89%);
}
.container img {
  height: 300px;
  width: 300px;
  padding: 20px;
  border-radius: 3rem;
}

body {
  background-color: hsl(0, 0%, 100%);
  position: relative;
  top: 100px;
  left: 550px;
  height: 550px;
  width: 350px;
  flex-direction: column;
  border-radius: 3rem;
  text-align: center;
  font-family: "Outfit";
}
.text-container h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.text-container p {
  font-size: 1rem;
  color: grey;
  font-weight: 400;
}
